<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<meta name="keywords" content="software, developer, engineer, MongoDB, NASA, space, WCU, python, hackNY, speaker, spacex, amazon, aws">
	<meta name="description" content="The personal website of engineer, developer evangelist, and space cadet J. Randall Hunt, with upcoming speaking engagements and bio.">
	<link rel="alternate" type="application/rss+xml" href="feed.xml" />
	{% block title %}
	<title>J. Randall Hunt - engineer, developer advocate, and space cadet</title>
	{% endblock %}
	{% block styles %}
	{% endblock %}
	{% block headscripts %}
	{% endblock %}
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
{% block scripts %}
{% endblock %}
	<!-- Google Analytics -->
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-48308169-1', 'ranman.org');
	ga('send', 'pageview');
	</script>
</body>
</html>
