{% extends "base.html" %}
{% block styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
{% endblock %}
{% block content %}
	<header class="name-header">
		<h1>J. Randall Hunt</h1>
	</header>
	<section class="content">
		<article id="bio">
			<p>I'm a software engineer and developer evangelist at <a href="http://mongodb.org/">MongoDB</a>, where I get to play with all kinds of amazing data. I maintain <a href="http://www.gitshots.com">GitShots</a> and several other fun <a href="#projects">websites</a>. I speak at <a href="#speaking">conferences</a> and go to events. I also love <a href="http://www.nasa.gov/mission_pages/constellation/orion/orionfta-pingpong.html">space</a>, <a href="http://www.youtube.com/watch?v=Kj10IWKYaaI">solving rubik's cubes</a>, <a href="https://www.dropbox.com/s/qf036nu0i7owkgh/how%20to%20scare%20your%20mom.mov">bicycles</a>, <a href="https://www.dropbox.com/s/6cu4ohn5mxoby23/2014-02-12%2012.10.18.mov">skiing</a>, <a href="https://www.goodreads.com/ranman">reading</a>, <a href="http://blog.ranman.org">writing</a>, <a href="http://hackny.org/a/2011/06/class-of-2011-hackny-fellows/">hackNY</a>, and <a href="https://foursquare.com/jrhunt">travel</a>.</p>
		</article>
		<article id="profiles">
			<h2>Profiles</h2>
			<ul>
				<li><a href="http://blog.ranman.org">Blog</a></li>
				<li><a href="https://github.com/ranman">GitHub</a></li>
				<li><a href="https://coderwall.com/ranman">CoderWall</a></li>
				<li><a href="https://stackexchange.com/users/86262/ranman">StackExchange</a></li>
				<li><a href="http://www.linkedin.com/in/jrhunt">LinkedIn</a></li>
			</ul>
		</article>
		<article id="projects">
			<h2>Projects</h2>
			(sorted by update date)
			<ul id="projects-list">
			</ul>
		</article>
		<article id="contact">
			<h2>Don't be a stranger</h2>
			<ul>
				<li>Email: <a href="mailto:randall@ranman.org">randall@ranman.org</a></li>
				<li>Twitter: <a href="http://twitter.com/jrhunt">@jrhunt</a></li>
			</ul>
		</article>
		<article id="speaking">
			<h2>Speaking Engagements</h2>
			<ul>
			{% for event in upcoming %}
				<li>{% if event.href %}<a href="{{event.href}}">{% endif %}{{event.name}}{% if event.href %}</a>{% endif %} - {{event.loc.name}}, {{event.date.strftime('%Y-%m-%d')}}
				</li>
			{% endfor %}
			</ul>
			<h3>Past</h3>
			<ul>
			{% for event in past %}
				<li>{% if event.href %}<a href="{{event.href}}">{% endif %}{{event.name}}{% if event.href %}</a>{% endif %} - {{event.loc.name}}, {{event.date.strftime('%Y-%m-%d')}}
				</li>
			{% endfor %}
			</ul>
		</article>
	</section>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}